<footer class="w-full py-2 flex gap-12 justify-center mt-auto">

	<a href="https://github.com/jpoehnelt/durangotechscene">Edit on Github</a>

<a href="https://github.com/jpoehnelt" rel="me">Maintainer</a>

</footer>
