---
layout: base
eleventyNavigation:
  key: About
  order: 2
meta:
  title: About us
  description: this is our about page.
eleventyExcludeFromCollections: true # temporary until page is used
---


<section>
  This is the about page
</section>